#tooltip {
  position: fixed;           /* important */
  pointer-events: none;      /* avoid blocking mouse */
  background: hsl(from var(--bs-dark) h s calc(l + 5));
  border: 1px solid var(--bs-border-color); 
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 100;
}